*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.navlink{
    color:white;
    font-style:roboto;
    font-weight: 500;
    font-size:large;
    text-decoration-line: none;
    padding-left: 20%;    
}

.nav_div{
    padding-left: 50%;
}

.active{
    text-decoration-line: underline;
    font-weight: bold;

}

.main_div{
    display: flex;
}
.left_div{
    width:50%;
}

.right_div{
    margin-top: 2%;
    width:50%;
    display: flex;
    justify-content: center;
}

.right_div img{
    height:420px;
    width:420px;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

